/* For SamToki.github.io/VoteHelper */
    /* This is a theme variant, so only colors along with few things are configured. */

/* Main */
    /* 投票 */
        /* VoteMain */
        #Ctnr_VoteMain .Cmdbtn {
            color: #FFFFFF;
        }
        #Ctnr_VoteMain .Cmdbtn:hover {
            color: #00FF00;
        }
        #Ctnr_VoteMain .ProgbarFg {
            background-color: #0080FF;
        }

/* Accessibility */
@media (prefers-contrast: more) {
	#Combobox_SettingsDisplayTheme {
		background-color: #404040;
	}
}
@media (prefers-reduced-motion: reduce) {
	#Combobox_SettingsDisplayAnimSpd {
		background-color: #404040;
	}
}
